.separation__content {
    width: 60%;
    h3 {
        &:first-child {
            margin-top: 0;
        }
    }
    p {
        &:last-child {
            margin-bottom: 0;
        }
    }
    ul {
        &:last-child {
            margin-bottom: 0;
        }
    }
}

// Adaptive
@media (max-width: 767.98px){
	.separation__content {
        width: 100%;
    }
}