.separation__img {
    width: 35%;
    border-radius: 0.5rem;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

// Adaptive
@media (max-width: 767.98px){
	.separation__img {
        width: 100%;
    }
}